// project colors
$white: #ffffff;
$black: #000000;
$fontColor: #2f2f34;
$primary: #00b140;
$orange: #f86d2e;

// timing
$hover-duration: 0.5s;
$duration: 1s;
$timing: cubic-bezier(0.17, 0.67, 0.55, 1.05);
